* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
}

/* 
  Start of edit product styling
*/

.edit.products {
  width: fit-content;

  padding: 10px;
}

.edit.products .row {
  display: grid;
  grid-template-columns: 40px 110px 70px 70px 70px 70px 70px 130px;
  column-gap: 10px;

  padding-bottom: 5px;

  border-bottom: solid 1px black;

  margin-bottom: 5px;
}

.edit.products .row:last-child {
  margin-bottom: 0px;
}

.edit.products .row.header {
  text-align: center;
  align-items: end;

  padding-bottom: 10px;

  border-bottom: solid 2px;

  margin-bottom: 10px;
}

.edit.products .row p,
.edit.products .row input {
  width: inherit;
}

.edit.products .row input {
  border: solid black 1px;
}

.edit.products .row.header p {
  margin: 0px;
  padding: 0px;
}

.edit.products .row .actions {
  display: flex;
  justify-content: space-between
}

.edit.products .add .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 
  End of edit product styling
*/

/* 
  Start of view product styling
*/

.productList {
  width: 70vw;

  padding: 10px;

  overflow: auto;
}

.productList .header {
  display: flex;
  align-items: center;
}

.productList .header h2 {
  margin-top: 0px;
}

.productList .header .toggleEdit {
  margin-left: 20px;
}

.productList .view.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.productList .view.products .product {
  display: grid;
  grid-template-rows: 40px 42px 23px;

  row-gap: 5px;
  border: solid 1px black;
  padding: 10px;
}

.productList .view.products .product .name,
.productList .view.products .product .sku {
  margin: 0px;
}

.productList .view.products .product .name {
  text-transform: capitalize;
}

.productList .view.products .product .pricing .normal,
.productList .view.products .product .pricing .special {
  margin: 0px;
}

.productList .view.products .product .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productList .view.products .product .actions input {
  width: 50px;
}

/* 
  End of view product styling
*/

/* 
  Start of view product styling
*/

.basket {
  width: 30vw;
  border-left: solid black 2px;
  padding: 10px;
  height: 100vh;
}

.basket .header h2 {
  margin-top: 0px;
}

.basket .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 0px;

  border-bottom: solid 1px;
}

.basket .items .item:first-child {
  padding-top: 0px;
}

.basket .items .item .details {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 10px;
}

.basket .items .item p {
  margin: 0px;
}

.basket .items .item .name {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.basket .items .item .name .separator {
  margin: 0px 5px;
}

.basket .items .item .name .name {
  text-transform: capitalize;
}

.basket .items .item .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket > .total {
  padding: 10px 0px;
}

.basket .total .price,
.basket .total .savings {
  margin: 0px;
}

.basket .actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 
  End of basket styling
*/