* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
}

/* 
  Start of edit product styling
*/

.edit.products {
  width: fit-content;

  padding: 10px;
}

.edit.products .row {
  display: grid;
  grid-template-columns: 30px 70px 40px 50px 70px 40px 40px 170px;
  column-gap: 10px;

  padding-bottom: 5px;

  border-bottom: solid 1px black;

  margin-bottom: 5px;
}

.edit.products .row:last-child {
  margin-bottom: 0px;
}

.edit.products .row.header {
  text-align: center;
  align-items: end;

  padding-bottom: 10px;

  border-bottom: solid 2px;

  margin-bottom: 10px;
}

.edit.products .row p,
.edit.products .row input {
  width: inherit;
}

.edit.products .row.header .quantity,
.edit.products .row.header p {
  margin: 0px;
  padding: 0px;
}

.edit.products .row.header .quantity .columns {
  display: flex;
  justify-content: space-around;
}

.edit.products .row.header .quantity {
  grid-column: 6/8;
}

.edit.products .row .actions {
  display: flex;
  justify-content: space-between
}

.edit.products .add .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 
  End of edit product styling
*/

/* 
  Start of view product styling
*/

.productList {
  width: 70vw;

  padding: 10px;

  overflow: auto;
}

.productList .header {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.productList .header h2 {
  margin: 0px;
}

.productList .header .toggleEdit {
  margin-left: 20px;
}

.productList .view.products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media only screen and (max-width: 920px) {
  .productList .view.products {
    grid-template-columns: repeat(3, 1fr);
  }
}

.productList .view.products .product {
  display: grid;
  grid-template-rows: 40px 42px 23px;

  row-gap: 5px;
  border: solid 1px black;
  padding: 10px;
}

.productList .view.products .product .name,
.productList .view.products .product .sku {
  margin: 0px;
}

.productList .view.products .product .name {
  text-transform: capitalize;
}

.productList .view.products .product .pricing .normal,
.productList .view.products .product .pricing .special {
  margin: 0px;
}

.productList .view.products .product .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productList .view.products .product .actions input {
  width: 50px;
}

/* 
  End of view product styling
*/

/* 
  Start of view product styling
*/

.basket {
  width: 30vw;
  border-left: solid black 2px;
  padding: 10px;
  height: 100vh;
}

.basket .header {
  margin-bottom: 19px;
}

.basket .header h2 {
  margin: 0px;
}

.basket .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 0px;

  border-bottom: solid 1px;
}

.basket .items .item:first-child {
  padding-top: 0px;
}

.basket .items .item .details {
  display: flex;
  flex-direction: column;
  width: 180px;
  margin-right: 10px;
}

.basket .items .item p {
  margin: 0px;
}

.basket .items .item .name {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.basket .items .item .name .separator {
  margin: 0px 5px;
}

.basket .items .item .name .name {
  text-transform: capitalize;
}

.basket .items .item .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket>.total {
  padding: 10px 0px;
}

.basket .total .price,
.basket .total .savings {
  margin: 0px;
}

.basket .actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 
  End of basket styling
*/

/* 
  Start of button styling
*/

button {
  border: none;
  padding: 5px 15px;
  border-radius: 0.25rem;
  font-size: 15px;
}

button.primary {
  background-color: #007bff;
  color: white;
}

button.secondary {
  background-color: #6c757d;
  color: white;
}

button.success {
  background-color: #28a745;
  color: white;
}

button.danger {
  background-color: #dc3545;
  color: white;
}

button.warning {
  background-color: #ffc107;
  color: black;
}

/* 
  End of button styling
*/

/* 
  Start of input styling
*/

input {
  border: solid grey 1px;
  border-radius: 0.25rem;
  padding: 5px 5px;
}

input.no-border {
  border: none;
  background-color: #6c757d;
  color: white;
}

/* 
  End of input styling
*/

/* 
  Start of modal styling
*/

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 100px;

  background-color: rgba(0, 0, 0, .5);
}

.modal .content {
  background-color: white;
  padding: 20px;
}

.modal .content.checkout {
  width: 500px;
}

.modal .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .content .header .title {
  margin: 0;
  padding: 0;
}

.modal .content .header .close {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.modal .content .basket.items,
.modal .content .basket.total,
.modal .content .basket.actions {
  width: auto;
  height: auto;

  padding: 0px;
  border: none;
}

.modal .content .basket.items .header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px;
}

.modal .content .basket.items .header p {

  padding: 5px 0px;

  border-right: solid 1px;

  margin: 0;

  text-align: center;
}

.modal .content .basket.items .header p:last-child {
  border-right: none;
}

.modal .content .basket.items .item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.modal .content .basket.items .item p {
  text-align: center;
  border-right: solid 1px;
  margin: 0;
  padding: 5px 0px;
}

.modal .content .basket.items .item p:last-child {
  border-right: none;
}

.modal .content .basket.total {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;

  padding: 5px 0px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin: 0;
}

.modal .content .basket.total p,
.modal .content .basket.total .total,
.modal .content .basket.total .price,
.modal .content .basket.total .saved{
  padding: 0;
  margin: 0;
}

.modal .content .basket.total .total {
  grid-column: 1;
  text-align: center;
}

.modal .content .basket.total .price {
  grid-column: 3/4;
  text-align: center;
}

.modal .content .basket.total .saved {
  grid-column: 4;
  text-align: center;
}

.modal .content .basket.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
}

/* 
  End of modal styling
*/