* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 
  Start of edit product styling
*/

.edit.products {
  width: fit-content;

  padding: 10px;
}

.edit.products .row {
  display: grid;
  grid-template-columns: 40px 110px 70px 70px 70px 70px 70px 130px;
  column-gap: 10px;

  padding-bottom: 5px;

  border-bottom: solid 1px black;

  margin-bottom: 5px;
}

.edit.products .row:last-child {
  margin-bottom: 0px;
}

.edit.products .row.header {
  text-align: center;
  align-items: end;

  padding-bottom: 10px;

  border-bottom: solid 2px;

  margin-bottom: 10px;
}

.edit.products .row p,
.edit.products .row input {
  width: inherit;
}

.edit.products .row input {
  border: solid black 1px;
}

.edit.products .row.header p {
  margin: 0px;
  padding: 0px;
}

.edit.products .row .actions {
  display: flex;
  justify-content: space-between
}

.edit.products .add .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 
  End of edit product styling
*/

/* 
  Start of view product styling
*/

.productList {
  width: 70vw;
}

.productList .header {
  display: flex;
  align-items: center;
}

.productList .header .toggleEdit {
  margin-left: 20px;
}

.productList .view.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

.productList .view.products .product {
  display: grid;
  grid-template-rows: 40px 42px 23px;

  row-gap: 5px;
  border: solid 1px black;
  padding: 10px;
}

.productList .view.products .product .name,
.productList .view.products .product .sku {
  margin: 0px;
}

.productList .view.products .product .name {
  text-transform: capitalize;
}

.productList .view.products .product .pricing .normal,
.productList .view.products .product .pricing .special {
  margin: 0px;
}

.productList .view.products .product .actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.productList .view.products .product .actions input{
  width: 50px;
}

/* 
  End of view product styling
*/